@font-face {
    font-family: 'MyCustomFont';
    src: url('Assets/Fonts/SOFIAPROSOFTBOLD.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: 'MyCustomFont', sans-serif;
    margin: auto;
    max-width: 90%;
    padding: 2rem;
    background-image: url('Assets/bg.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow-y: hidden; 
    scrollbar-width: none;
}
  .date-display {
    position: absolute; /* Position it at the top left */
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
  }
  
  .topic {
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
  }
  
  /* Style for the navigation bar */
  .nav-bar {
    background-color: #007bff;
    border-radius: 30px;
    height: 70px;
    max-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 40px;
  }
  
  /* Style for the buttons in the navigation bar */
  .nav-bar button {
    padding: 10px 20px;
    margin: 0 50px;
    border: none;
    border-radius: 30px;
    height: 50px;
    align-items: center;
    font-size: 24px;
    transition: background-color 0.4s;
    font-family: 'MyCustomFont', sans-serif;
  }
  
  /* Hover effect for the buttons */
  .nav-bar button:hover {
    background-color: #e904e9;
    color: #3d3d3d;
    cursor: pointer;
  }
  .no-clicked{
    background-color: #515151;
    color: white;
  }
  .clicked{
    background-color: #e904e9;
    color: #3d3d3d;
  }
.buttons{
    align-items: center;
    justify-content: center;
    display: flex;
}
  .buttons button{
    font-size: 26px;
    background-color: #ffad72;
    border-radius: 50px;
    align-items: center;
    font-family: 'MyCustomFont', sans-serif;
    border: none;
    padding: 8px;
    margin: 10px;

  }

  .buttons button:hover{
    background-color: #ffce5b;
  }
  
  .groups {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
  }
  
  .team {
    background-color: #ffffff;
    color: #333333;
    border-radius: 10px;
    border: white solid;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    animation: zoomIn 0.8s ease-in-out; 
  }
  
  .team:hover {
    transform: scale(1.05);
  }
  
  .team h3 {
    margin-bottom: 15px;
    font-size: 30px;
    color: #181818;
  }
  
  .team ul {
    list-style: none;
    padding: 0;
  }
  
  .team ul li {
    padding: 5px 0;
    font-size: 24px;
  }
  

  .hidden {
    display: none;
  }
  
  #shuffle-animation {
    text-align: center;
    margin: 20px 0;
  }
  

  @keyframes zoomIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  